html {
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #28293E;
    font-family: 'Epilogue', sans-serif;
    color: $white;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $white;
}

// Spacing

.container {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}

.container_hero {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
}

// Flexbox

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
        }

    &-ai-c {
    align-items: center;
    }

    &-column{
        flex-direction: column;
    }
}

//Visibility
.hide_for_mobile {
    //hide for tablet and mobile
    @include breakpoint_down (medium){
        display: none;
    }
}

.hide_for_desktop {
    //hide for desktop viewport widths
    @include breakpoint_up (large){
        display: none;
    }
}