.hero {
    padding-bottom: 8.28rem;

    .space {
        padding: 2rem;
    }

    h5{
        color: $orange;
        font-weight: $xlight;
        font-size: $font-sm;
        letter-spacing: 3px;
        margin-bottom: auto;
        margin-top:auto;
    }
    h1{
        font-weight: $med;
        font-size: $font_xlarge;
        letter-spacing: -2px;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    
    h3 {
        font-weight: $med;
        font-size: $font_mdx;
        color: $orange;
        opacity: 6 0%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    p{
        color: $transparent_gray;
        font-size: $font-sm;
        font-weight: $xlight;
        line-height: 2rem;
    }

    a{
        background: $orange;
        border-radius: 5px;
        align-self: flex-start;
        padding: .75rem 1.7rem;
        margin-top: 2.125rem;
        font-size: $font-xsm;
        font-weight: $bold;
    }

    img{
        width: 100%;
        height: auto;
    }
}

.service {
    background: $light_cream;
    padding-bottom: 6.25rem;

    h5 {
        color: $orange;
        font-size: $font-sm;
        font-weight: $xlight;
        margin-top: 2.75rem;
        margin-bottom: 0;
    }
    h2{
        color: $dark_brown;
        font-size: $font_large;
        font-weight: $med;
        margin-top: 1.25rem;
        text-align: center;
        margin-bottom: 0px;
    }
    &_menu{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    h4{
        color: $dark_brown;
        font-size: $font-md;
        font-weight: $light;
        margin-left: 1.5rem;
    }
    img {
        width: 80px;
        height: 80px;
    }
    h6{
        font-size: $font-sm;
        font-weight: $xlight;
        color: $dark_brown;
        margin-left: 1rem;
    }

}

.portfolio {
    padding-bottom: 6.25rem;

    .space {
        padding: 1rem;
    }

    h5 {
        color: $orange;
        font-size: $font-sm;
        font-weight: $xlight;
        margin-top: 2.75rem;
        margin-bottom: 0px;
    }

    .latest_work {
        margin-bottom: 3rem;
        margin-top: 2.5rem;
    }

    h2{
        font-size: $font_large;
        margin-top: 0px;
        margin-bottom: 0px;
        align-self: flex-start;
    }

    .image_1 {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 1px solid $transparent_gray;
        padding: 1rem;
    }
    .image_2 {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 1px solid $transparent_gray;
        padding: 1rem;
    }
    .image_3 {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 1px solid $transparent_gray;
        padding: 1rem;
    }

    img{
        width: 100%;
    }
    .button {
        align-self: flex-start;
    }

    .image_caption{
        position: absolute;
        bottom:1rem;
        left: 3rem; 
    }

    //Button Portfolio

.design_button {
    margin-bottom: 0px; 
    height: 2.375rem;
    width: auto;
    img{
        height: 100%;
        width: auto;
    }
}
h3{
    font-weight: $light;
    font-size: $font_md;
    margin-top: 0.5rem;
}
}

.about {
    background: $light_cream;

.about_2 {
    margin-top: 3.5rem;
}

    img {
        width: 100%;
    }

    .space {
        padding: 1.5rem;
    }

    h5{
        font-size: $font-sm;
        font-weight: $xlight;
        color: $orange;
        letter-spacing: 3px;
        margin-bottom: 0px;
    }
    h2{
        font-size: $font-large;
        font-weight: $med;
        color: $dark_brown;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
    h4 {
        color: $dark_brown;
        font-size: $font-md;
        font-weight: $xlight;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
    a{
        color: $dark_brown;
        font-weight: $bold;
        font-size: $font-xsm;
        background: $white;
        border-radius: 5px;
        padding: 1rem 1.5rem;
        align-self: flex-start;
    }

    .calendar {
        width: 7rem;
        height: 7rem;
    }

    .about_data {
        margin-top: 5rem;
        margin-bottom: 6.25rem;
    }
    h3{
        color: $dark_brown;
        font-size: $font_mdx;
        font-weight: $med;
        margin-bottom: 0rem;
        margin-left: 3rem;
    }
    .about_p {
        margin-top: 0rem;
        margin-left: 3rem;
    }

}