// Colors
$white: hsl(0,0%,100%);
$darkblue: #28293E;
$orange: #EF6D58;
$light_cream: #FDF0E9;
$dark_brown: #391400;
$light_brown: rgba(57, 20, 0, 0.64);
$dark_cream: #F3D1BF;
$darker_cream: #F9E5DA;

// Fonts
$font-xsm: 0.875rem; //14px
$font-sm: 1rem; //16px
$font_md: 1.5rem; //24px
$font_large: 3.5rem; //56px
$font_xlarge: 4.5rem; //72px

//font weights
$xlight: 400;
$light: 700;
$med: 800;
$bold: 900;